[submodule "src/fluo_core"]
	path = src/fluo_core
	url = https://github.com/fluo-lang/fluo_core
[submodule "fluo_core"]
	branch = master
[submodule "src/fluo_std"]
	path = src/fluo_std
	url = git@github.com:fluo-lang/fluo_std.git
